@import 'tailwindcss';
@import './themes.css';

@layer base {
  .html,
  body {
    @apply w-screen overflow-x-hidden;
  }
  body {
    @apply bg-background text-foreground;
  }

  button {
    @apply cursor-pointer;
  }
}

@layer components {
  .blurred-bg {
    @apply backdrop-blur-3xl bg-red-600;
  }
}
