@import 'tailwindcss';
@import './themes.css';

:root {
  --background: #ffffff;
  --foreground: #1d2939;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

button {
  cursor: pointer;
}
