@theme {
  --color-primary: #0d4740;
  --color-primary-700: #0d4740;
  --color-text-200: #1d1c1e;
  --color-gray: #f2f4f7;
  --color-gray-100: #f2f4f7;
  --color-gray-500: #667085;
  --color-background: #ffffff;
  --color-foreground: #1d2939;

  --breakpoint-xxs: 320px;
  --breakpoint-xs: 390px;
  --breakpoint-xsm: 480px;

  --breakpoint-xs: 300px;
  --breakpoint-lmd: 800px;
  --breakpoint-2xl: 1400px;

  --radius-8: 8px;
  --radius-20: 20px;
  --radius-40: 40px;

  --spacing-a-10: 10px;
  --spacing-a-250: 250px;
  --spacing-a-300: 300px;
  --spacing-a-500: 500px;

  --text-a-10: 10px;
  --text-a-12: 12px;
  --text-a-14: 14px;
  --text-a-16: 16px;
  --text-a-18: 18px;
  --text-a-20: 20px;
  --text-a-22: 22px;
  --text-a-24: 24px;
  --text-a-30: 30px;
  --text-a-32: 32px;
  --text-a-34: 34px;
}
